<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow-sm p-2 mb-2 bg-white rounded">
        <div class="card-header">
          <h6>Customer Contact</h6>
        </div>
        <div class="card-body">
          <div class="row mt-4">
            <div class="col-2 text-end pt-2">
              <label class="form-label" for="customer">Customer</label>
            </div>
            <div class="col-3">
              <input id="customer" class="form-control" type="text">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-2 text-end pt-2">
              <label class="form-label" for="province">Province</label>
            </div>
            <div class="col-3">
              <input id="province" class="form-control" type="text">
            </div>
            <div class="col-2 text-end pt-2">
              <label class="form-label" for="district">District</label>
            </div>
            <div class="col-3">
              <input id="district" class="form-control" type="text">
            </div>
          </div>

          <div class="row p-2">
            <div class="col-3 offset-2" style="padding-left: inherit;">
              <button class="btn btn-sm btn-success"><i class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
              <button class="btn btn-sm btn-secondary ms-2"><i class="fa-solid fa-broom me-1"></i>Clear</button>
            </div>
          </div>
          <hr>


          <div class="row">
            <div class="col-12 text-end">
              <button class="btn btn-sm btn-success" (click)="onClickImport()"><i
                  class="fa-solid fa-file-import me-1"></i>Import</button>
              <button class="btn btn-sm btn-primary ms-2" (click)="onClickExport()"><i
                  class="fa-solid fa-file-excel me-1"></i>Export</button>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <dx-data-grid #grid id="grid" [dataSource]="dataSource" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="false" [showBorders]="true" [width]="'100%'"
                [showColumnLines]="true" [showRowLines]="true">

                <dxi-column dataField="customerCode" caption="Customer Code" width="120"
                  alignment="center"></dxi-column>
                <dxi-column dataField="customerName" caption="Customer Name" minWidth="300"
                  alignment="left"></dxi-column>
                <dxi-column dataField="province" caption="Province" width="150" alignment="left"></dxi-column>
                <dxi-column dataField="district" caption="District" width="150" alignment="left"></dxi-column>
                <dxi-column dataField="line" caption="Line" width="150" alignment="left"></dxi-column>
                <dxi-column dataField="modifiedBy" caption="Modified By" width="150" alignment="left"></dxi-column>
                <dxi-column dataField="modifiedTime" caption="Modified Time" width="150" alignment="center"
                  cellTemplate="dateTemplate">
                </dxi-column>

                <div *dxTemplate="let cell of 'dateTemplate'">
                  {{ cell.value | date: 'dd-MMM-yyyy HH:mm' }}
                </div>

              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #importTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Import Customer Contact</h5>
  </div>

  <div class="modal-body">
    <!-- <div class="row">
          <error-panel name="error-panel" #errorPanelModal></error-panel>
      </div> -->

    <div class="row mb-3">
      <div class="col-2 col-form-label text-end">
        <label>File</label>
      </div>
      <div class="col-6">
        <input [disabled]="clickImport" #fileInput class="form-control rounded-pill" #myInput type="file"
          name="filename" accept=".xlsx" (change)="handleFileInput($event)">
      </div>
      <div class="col-3 pt-1">
        <button *ngIf="!clickImport" name="btn-importFile" (click)="uploadFile()"
          class="btn btn-sm btn-outline-secondary rounded-pill" [disabled]="!fileToUpload">
          <i class="fas fa-file-upload"></i> Import
        </button>
        <button *ngIf="clickImport" name="btn-clear-import" (click)="onClearFile(fileInput)"
          class="btn btn-sm btn-outline-secondary rounded-pill">
          <i class="far fa-times-circle"></i> Clear
        </button>
        <button class="btn btn-sm btn-outline-success rounded-pill mx-2" (click)="onClickDownloadTemplate()">
          <i class="fa-solid fa-download"></i> Download
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <dx-data-grid #importGrid name="dg-import" [dataSource]="dataForUpload" [height]="500">
          <dxo-sorting [mode]="'none'">
          </dxo-sorting>
          <dxi-column width="250" cellTemplate="issueTemplate" alignment="center" caption="Issue" dataField="issue"
            dataType="string">
            <div *dxTemplate="let cell of 'issueTemplate'" style="text-align: left;">
              <span class="error-message" [innerText]="cell.value.join('\n')"></span>
            </div>
          </dxi-column>

          <dxi-column caption="No." width="50" alignment="center" cellTemplate="indexTemplate">
            <div *dxTemplate="let cell of 'indexTemplate'">
              <span>{{cell.rowIndex+1}}.</span>
            </div>
          </dxi-column>
          <dxi-column dataField="customerCode" caption="Customer Code" width="120" alignment="center"></dxi-column>
          <dxi-column dataField="customerName" caption="Customer Name" minWidth="300" alignment="center"
            cellTemplate="leftTemplate">
            <div *dxTemplate="let cell of 'leftTemplate'" style="text-align: left;">
              <span>{{cell.value}}</span>
            </div>
          </dxi-column>
          <dxi-column dataField="province" caption="Province" width="150" alignment="center"
            cellTemplate="leftTemplate"></dxi-column>
          <dxi-column dataField="district" caption="District" width="150" alignment="center"
            cellTemplate="leftTemplate"></dxi-column>
          <dxi-column dataField="line" caption="Line" width="150" alignment="center"
            cellTemplate="leftTemplate"></dxi-column>
        </dx-data-grid>
      </div>
    </div>



    <div class="row pt-2">
      <div class="col-12 text-center">
        <button [disabled]="!canClick" class="btn btn-sm btn-success" (click)="onClickConfirmImport()"><i
            class="fa-solid fa-circle-check me-1"></i>
          Confirm</button>
        <button class="ms-2 btn btn-sm btn-secondary" (click)="onClickExitImportModal()"><i
            class="fa-solid fa-ban me-1"></i>Exit</button>
      </div>
    </div>
  </div>
</ng-template>