<div class="container container justify-content-center">
    <div class="row mt-2">
        <h6>Mapping Material</h6>    
        <hr>
    </div>

    <div class="row mt-4">
        <div class="col-2 offset-1 text-end pt-2">
            <label class="form-label" for="materialcode">Material</label>
        </div>
        <div class="col-3">
            <input id="materialcode" class="form-control" type="text">
        </div>
        <div class="col-2 offset-1 text-end pt-2">
            <label class="form-label" for="materialdesc">Material Description</label>
        </div>
        <div class="col-3">
            <input id="materialdesc" class="form-control" type="text">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-2 text-end">
            <button class="btn btn-success">Search</button>
            <button class="btn btn-clear mx-2">Clear</button>
        </div>
    </div>
</div>