<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm p-2 mb-2 bg-white rounded">
                <div class="card-header">
                    <h6>Shipment</h6>
                </div>
                <div class="card-body">
                    <div class="row" *ngFor="let item of list">
                        <div class="col-12">
                            <div class="row mt-4">
                                <div class="col-12">
                                    <h6>DO {{item.doNo}}</h6>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12">
                                    <dx-data-grid id="gridContainer" [dataSource]="item.dataSource"
                                        [remoteOperations]="false" [allowColumnReordering]="true"
                                        [rowAlternationEnabled]="false" [showBorders]="true" [width]="'100%'"
                                        [showColumnLines]="true" [showRowLines]="true">
                                        <dxi-column dataField="itemIndex" caption="No." [width]="40"
                                            alignment="center"></dxi-column>
                                        <dxi-column dataField="materialCode" caption="Material" width="150"
                                            alignment="left"></dxi-column>
                                        <dxi-column dataField="materialDesc" caption="Material Description"
                                            minWidth="250" alignment="left"></dxi-column>
                                        <dxi-column dataField="sprayType" caption="รูปแบบการพ่น" [width]="120"
                                            alignment="left"></dxi-column>
                                        <dxi-column dataField="heatNo" caption="Heat No." [width]="80"
                                            alignment="center"></dxi-column>
                                        <dxi-column dataField="grade" caption="Grade" [width]="80"
                                            alignment="center"></dxi-column>
                                        <dxi-column dataField="quantity" caption="Quantity" [width]="80"
                                            cellTemplate="numberTemplate" alignment="right"></dxi-column>
                                        <dxi-column [width]="120" alignment="center" cellTemplate="selectTemplate">
                                            <div *dxTemplate="let cell of 'selectTemplate'">
                                                <button style="width: 90px;" *ngIf="cell.data.status == 'Select'"
                                                    class="btn btn-sm btn-outline-success"
                                                    (click)="onClickSelect(cell.data)"><i class="fa-solid fa-check"></i>
                                                    Select</button>
                                                <button style="width: 90px;" *ngIf="cell.data.status != 'Select'"
                                                    class="btn btn-sm btn-outline-warning"
                                                    (click)="onClickEdit(cell.data)"><i
                                                        class="fa-solid fa-pen-to-square"></i> Edit</button>
                                            </div>
                                        </dxi-column>
                                        <dxi-column [width]="120" alignment="center" cellTemplate="addDetailTemplate">
                                            <div *dxTemplate="let cell of 'addDetailTemplate'">
                                                <button class="btn btn-sm btn-outline-secondary"
                                                    (click)="onClickAddDetail(cell.data)"><i
                                                        class="fa-solid fa-pen-to-square"></i> Add
                                                    Detail</button>
                                            </div>
                                        </dxi-column>
                                        <dxi-column [width]="120" alignment="center" cellTemplate="sentLinkTemplate">
                                            <div *dxTemplate="let cell of 'sentLinkTemplate'">
                                                <button class="btn btn-sm btn-outline-info"
                                                    (click)="onClickSentLink()"><i
                                                        class="fa-regular fa-paper-plane"></i> Sent
                                                    Link</button>
                                            </div>
                                        </dxi-column>
                                        <div *dxTemplate="let cell of 'numberTemplate'">
                                            {{cell.value | number: '.2'}}
                                        </div>
                                    </dx-data-grid>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center mt-4">
                            <button class="btn btn-sm btn-secondary ms-2" (click)="onClickExit()"><i
                                    class="fa-solid fa-xmark"></i>
                                Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #selectTMTTemplate>
    <div class="modal-header">
        <h5 class="modal-title">Select Quantity</h5>
    </div>

    <div class="modal-body">
        <div class="row mt-4">
            <div class="col-2 text-end">
                Material :
            </div>
            <div class="col-4">
                {{selected.materialCode}}
            </div>

            <div class="col-2 text-end">
                Heat No. :
            </div>
            <div class="col-4">
                {{selected.heatNo}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2 text-end">
                รูปแบบการพ่น :
            </div>
            <div class="col-4">
                {{selected.sprayType}}
            </div>

            <div class="col-2 text-end">
                grade :
            </div>
            <div class="col-4">
                {{selected.grade}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2 text-end">
                ความหนา :
            </div>
            <div class="col-4">
                {{selectDataSource[0].thickness}}
            </div>

            <div class="col-2 text-end">
                หน้ากว้าง :
            </div>
            <div class="col-4">
                {{selectDataSource[0].width}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2 text-end">
                Quantity :
            </div>
            <div class="col-4">
                {{selected.quantity | number: '.2'}}
            </div>
            <div class="col-2 text-end">
                Selected Quantity :
            </div>
            <div class="col-4">
                {{totalSelectTMT() | number: '.2'}}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">.
                <dx-data-grid id="gridContainer" [dataSource]="selectTMTDataSource" [remoteOperations]="false"
                    [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
                    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">
                    <dxi-column dataField="isSelected" caption="" [width]="40" alignment="right"
                        cellTemplate="checkBoxTemplate">
                        <div *dxTemplate="let cell of 'checkBoxTemplate'">
                            <div class="text-center">
                                <input [disabled]="!canSelectTMT() && !cell.value" class="form-check-input" type="checkbox" [(ngModel)]="cell.value"
                                    (change)="onCheckBoxChange($event,cell.data)">
                            </div>
                        </div>
                    </dxi-column>
                    <dxi-column dataField="itemIndex" caption="No." [width]="40" alignment="center"></dxi-column>
                    <dxi-column dataField="material" caption="Material" [width]="150" alignment="left"></dxi-column>
                    <dxi-column dataField="materialDesc" caption="MaterialDesc" min-Width="250"
                        alignment="left"></dxi-column>

                    <dxi-column dataField="heatNo" caption="Heat No." [width]="150" alignment="center"></dxi-column>
                    <dxi-column dataField="grade" caption="Grade" [width]="100" alignment="center"></dxi-column>
                    <dxi-column dataField="width" caption="หน้ากว้าง" [width]="120" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <dxi-column dataField="thickness" caption="ความหนา" [width]="120" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <dxi-column dataField="yield" caption="Yield" [width]="100" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <dxi-column dataField="tensile" caption="Tensile" [width]="100" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>

                    <dxi-column dataField="mill" caption="Mill" [width]="80" alignment="left"></dxi-column>
                    <dxi-column dataField="remain" caption="Remain" [width]="120" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <dxi-column dataField="quantity" caption="Quantity" [width]="120" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <div *dxTemplate="let cell of 'numberTemplate'">
                        {{cell.value | number: '.2'}}
                    </div>
                </dx-data-grid>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-sm btn-success" (click)="onClickConfirmSelect(true)"><i
                        class="fa-regular fa-circle-check"></i> Confirm</button>
                <button class="btn btn-sm btn-secondary ms-2" (click)="modalRef.hide()"><i class="fa-solid fa-ban"></i>
                    Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #selectTemplate>
    <div class="modal-header">
        <h5 class="modal-title">Select Quantity</h5>
    </div>

    <div class="modal-body">
        <div class="row mt-4">
            <div class="col-2 text-end">
                Material :
            </div>
            <div class="col-4">
                {{selected.materialCode}}
            </div>

            <div class="col-2 text-end">
                Heat No. :
            </div>
            <div class="col-4">
                {{selected.heatNo}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2 text-end">
                รูปแบบการพ่น :
            </div>
            <div class="col-4">
                {{selected.sprayType}}
            </div>

            <div class="col-2 text-end">
                grade :
            </div>
            <div class="col-4">
                {{selected.grade}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-2 text-end">
                Quantity :
            </div>
            <div class="col-4">
                {{selected.quantity | number: '.2'}}
            </div>
            <div class="col-2 text-end">
                Selected Quantity :
            </div>
            <div class="col-4">
                {{totalSelect() | number: '.2'}}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <dx-data-grid id="gridContainer" [dataSource]="selectDataSource" [remoteOperations]="false"
                    [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
                    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">
                    <dxi-column dataField="isSelected" caption="" [width]="40" alignment="right"
                        cellTemplate="checkBoxTemplate">
                        <div *dxTemplate="let cell of 'checkBoxTemplate'">
                            <div class="text-center">
                                <input [disabled]="!canSelect() && !cell.value" class="form-check-input" type="checkbox" [(ngModel)]="cell.value"
                                    (change)="onCheckBoxChange($event,cell.data)">
                            </div>
                        </div>
                    </dxi-column>
                    <dxi-column dataField="itemIndex" caption="No." [width]="40" alignment="center"></dxi-column>
                    <dxi-column dataField="material" caption="Material" [width]="150" alignment="left"></dxi-column>
                    <dxi-column dataField="materialDesc" caption="MaterialDesc" min-Width="250"
                        alignment="left"></dxi-column>

                    <dxi-column dataField="heatNo" caption="Heat No." [width]="150" alignment="center"></dxi-column>
                    <dxi-column dataField="grade" caption="Grade" [width]="100" alignment="center"></dxi-column>
                    <dxi-column dataField="yield" caption="Yield" [width]="100" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <dxi-column dataField="tensile" caption="Tensile" [width]="100" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>

                    <dxi-column dataField="mill" caption="Mill" [width]="80" alignment="left"></dxi-column>
                    <dxi-column dataField="remain" caption="Remain" [width]="120" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <dxi-column dataField="quantity" caption="Quantity" [width]="120" alignment="right"
                        cellTemplate="numberTemplate"></dxi-column>
                    <div *dxTemplate="let cell of 'numberTemplate'">
                        {{cell.value | number: '.2'}}
                    </div>
                </dx-data-grid>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-sm btn-success" (click)="onClickConfirmSelect(false)"><i
                        class="fa-regular fa-circle-check"></i> Confirm</button>
                <button class="btn btn-sm btn-secondary ms-2" (click)="modalRef.hide()"><i class="fa-solid fa-ban"></i>
                    Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addDetailTemplate>
    <div class="modal-header">
        <h5 class="modal-title">Add Detail</h5>
    </div>

    <div class="modal-body">
        <div class="row mt-4" *ngIf="isType3">
            <div class="col-2 text-end">
                <label for="productionNo">เลขที่ใบสั่งผลิต</label>
            </div>
            <div class="col-3">
                <input type="text" id="detail" class="form-control">
            </div>
            <div class="col-2 offset-1 text-end">
                <label for="certificateDate" class="pt-1">วันที่ออกใบรับรอง</label>
            </div>
            <div class="col-3">
                <input type="text" id="certificateDate" class="form-control">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2 text-end">
                <label for="detail" class="pt-1">Detail</label>
            </div>
            <div class="col-9">
                <textarea type="text" id="detail" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-end">
                <label for="isStamp">Stamp</label>
            </div>
            <div class="col-1 pt-1">
                <input name="isStamp" class="form-check-input" type="checkbox">
            </div>

        </div>
        <div class="col-12 text-center mt-4">
            <button class="btn btn-sm btn-success" (click)="onClickConfirmAddDetail()"><i
                    class="fa-regular fa-circle-check"></i>
                Confirm</button>
            <button class="btn btn-sm btn-secondary ms-2" (click)="modalRef.hide()"><i class="fa-solid fa-ban"></i>
                Cancel</button>
        </div>
    </div>
</ng-template>