<div class="container container justify-content-center pt-2">
    <div class="row mt-2">
        <h6>Mapping Material</h6>

    </div>
    <hr>

    <div class="row mt-4">
        <div class="col-2 offset-1 text-end pt-2">
            <label class="form-label" for="materialcode">Material</label>
        </div>
        <div class="col-3">
            <input id="materialcode" class="form-control" type="text">
        </div>
        <div class="col-2 text-end pt-2">
            <label class="form-label" for="materialdesc">Material Description</label>
        </div>
        <div class="col-3">
            <input id="materialdesc" class="form-control" type="text">
        </div>
    </div>

    <div class="row p-2">
        <div class="col offset-3">
            <button class="btn btn-success"><i class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
            <button class="btn btn-secondary ms-2"><i class="fa-solid fa-broom me-1"></i>Clear</button>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col-10">
            <button class="btn btn-success" (click)="onClickAdd()"><i class="fa-solid fa-plus me-1"></i>Add</button>
        </div>
        <div class="col-2 text-end">
            <button class="btn btn-success" (click)="onClickImport()"><i
                    class="fa-solid fa-file-import me-1"></i>Import</button>
            <button class="btn btn-success ms-2" (click)="onClickExport()"><i
                    class="fa-solid fa-file-excel me-1"></i>Export</button>
        </div>
    </div>



    <div class="row mt-2">
        <div class="col-12">
            <dx-data-grid id="gridContainer" [dataSource]="dataSource" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">


                <dxi-column width="60" alignment="center" cellTemplate="toolsTemplate">
                    <div *dxTemplate="let cell of 'toolsTemplate'">
                        <i style="cursor: pointer;" class="fa-solid fa-pen-to-square icon-edit"
                            (click)="onClickEditMappingMaterial(editMappingMaterial,cell)"></i>
                        <i style="cursor: pointer;" class="ms-2 fa-solid fa-trash icon-delete"
                            (click)="onClickDeleteMappingMaterial()"></i>
                    </div>
                </dxi-column>


                <dxi-column dataField="index" caption="No." dataType="number" [width]="40"
                    alignment="center"></dxi-column>
                <dxi-column dataField="materialCode" caption="Material" dataType="string" [width]="200"
                    alignment="left"></dxi-column>
                <dxi-column dataField="materialDesc" caption="Material Description" dataType="number" [minWidth]="200"
                    alignment="left"></dxi-column>
                <dxi-column dataField="modifiedBy" caption="Modified By" dataType="string" [width]="150"
                    alignment="left"></dxi-column>
                <dxi-column dataField="modifiedTime" caption="Modified Time" dataType="data" [width]="150"
                    alignment="center" cellTemplate="dateTemplate">
                    <div *dxTemplate="let cell of 'dateTemplate'">
                        {{ cell.value | date: 'dd-MMM-yyyy HH:mm' }}
                    </div>
                </dxi-column>



            </dx-data-grid>

            <div class="row mt-2">
                <div class="col text-end">
                    <i class="fa-solid fa-pen-to-square icon-edit"></i> <label class="ms-2">Edit</label>
                    <i class="ms-2 fa-solid fa-trash icon-delete"></i> <label class="ms-2">Delete</label>
                </div>
            </div>

        </div>
    </div>


</div>

<ng-template #addMappingMaterial>
    <div class="modal-header">
        <h5 class="modal-title">Add Mapping Material</h5>
        <span style="cursor: pointer;" class="close-modal" name="close-modal-import"
            (click)="onClickExitAddModal()">&times;</span>
    </div>

    <div class="modal-body">
        <!-- <div class="row">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div> -->

        <div class="row pt-2">
            <div class="col-2 offset-1 text-end pt-2">
                <label class="form-label" for="materialCode">Material</label>
            </div>
            <div class="col-3">
                <input id="materialCode" class="form-control">
            </div>
            <div class="col-2 text-end pt-2">
                <label class="form-label" for="materialDesc">Material Description</label>
            </div>
            <div class="col-3">
                <input id="materialDesc" class="form-control">
            </div>
        </div>

        <div class="row pt-2 text-center">
            <div class="col-2 text-end mx-1">
                <i style="cursor: pointer;" class="fa-solid fa-plus" (click)="onClickAddItem()"></i>
            </div>
            <div class="col-4">
                Mill
            </div>
            <div class="col-4">
                Mill Material
            </div>
        </div>
        <div class="row pt-2 text-center" *ngFor="let info of addMaterial;let index = index">
            <div class="col-2 text-end mx-1" style="padding-top: 5px;">
                <div style="width: 100%; height: 100%;margin-top: 2px;">
                    <i class="fa-solid fa-trash icon-delete" (click)="onClickDeleteItem(index)"></i>
                </div>
            </div>
            <div class="col-4">
                <dx-select-box [(ngModel)]="info.materialCode" placeholder="Select Mill" [items]="mill"
                    [showClearButton]="true"></dx-select-box>
            </div>
            <div class="col-4">
                <input type="text" name="millMaterial" maxlength="500" class="form-control rounded-pill"
                    [(ngModel)]="info.millMaterial" />
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12 text-center">
                <button class="btn btn-success" (onClick)="onClickConfirmAddMappingMaterial()"><i
                        class="fa-solid fa-circle-check me-1"></i>Confirm</button>
                <button class="ms-2 btn btn-secondary" (click)="onClickExitAddMappingMaterial()"><i
                        class="fa-solid fa-ban me-1"></i>Exit</button>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #importMappingMaterial>
    <div class="modal-header">
        <h5 class="modal-title">Import Mapping Material</h5>
        <span style="cursor: pointer;" class="close-modal" name="close-modal-import"
            (click)="onClickExitImportModal()">&times;</span>
    </div>

    <div class="modal-body">
        <!-- <div class="row">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div> -->

        <div class="row mb-3">
            <div class="col-2 col-form-label text-end">
                <label>File</label>
            </div>
            <div class="col-6">
                <input [disabled]="clickImport" #fileInput class="form-control rounded-pill" #myInput type="file"
                    name="filename" (change)="handleFileInput($event)">
            </div>
            <div class="col-3">
                <button *ngIf="!clickImport" name="btn-importFile" (click)="uploadFile()"
                    class="btn btn-sm btn-outline-secondary rounded-pill" [disabled]="!fileToUpload">
                    <i class="fas fa-file-upload"></i> Import
                </button>
                <button *ngIf="clickImport" name="btn-clear-import" (click)="onClearFile(fileInput)"
                    class="btn btn-sm btn-outline-secondary rounded-pill">
                    <i class="far fa-times-circle"></i> Clear
                </button>
                <button class="btn btn-sm btn-outline-success rounded-pill mx-2" (click)="onClickDownloadTemplate()">
                    <i class="fa-solid fa-download"></i> Download
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-2">
                <dx-data-grid #importGrid name="dg-import" [dataSource]="dataForUpload" [height]="500">
                    <dxo-sorting [mode]="'none'">
                    </dxo-sorting>
                    <dxi-column width="250" cellTemplate="issueTemplate" alignment="center" caption="Issue"
                        dataField="issue" dataType="string">
                        <div *dxTemplate="let cell of 'issueTemplate'">
                            <span class="error-message" [innerText]="cell.value.join('\n')"></span>
                        </div>
                    </dxi-column>
                    <dxi-column width="200" caption="Material" dataField="materialCode" alignment="center">
                    </dxi-column>
                    <dxi-column minWidth="200" caption="Description" dataField="description" alignment="center">
                    </dxi-column>
                    <dxi-column width="80" caption="Mill" dataField="mill" alignment="center">
                    </dxi-column>
                    <dxi-column width="200" caption="Mill Description" dataField="millMaterial" alignment="center">
                    </dxi-column>
                </dx-data-grid>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-12 text-center">
                <button class="btn btn-success" (onClick)="onClickConfirmImportMappingMaterial()"><i
                        class="fa-solid fa-circle-check me-1"></i> Confirm</button>
                <button class="ms-2 btn btn-secondary" (click)="onClickExitImportMappingMaterial()"><i
                        class="fa-solid fa-ban me-1"></i>Exit</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #editMappingMaterial>
    <div class="modal-header">
        <h5 class="modal-title">Edit Mapping Material</h5>
        <span style="cursor: pointer;" class="close-modal" name="close-modal-import"
            (click)="onClickExitEditMappingMaterial()">&times;</span>
    </div>

    <div class="modal-body">
        <!-- <div class="row">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div> -->

        <div class="row pt-2">
            <div class="col-2 offset-1 text-end">
                <label class="form-label">Material</label>
            </div>
            <div class="col-3">
                <label>{{ materialCode }}</label>
            </div>
            <div class="col-2 text-end">
                <label class="form-label">Material Description</label>
            </div>
            <div class="col-3">
                <label>{{ materialDesc }}</label>
            </div>
        </div>

        <div class="row pt-2 text-center">
            <div class="col-2 text-end mx-1">
                <i style="cursor: pointer;" class="fa-solid fa-plus" (click)="onClickAddItem()"></i>
            </div>
            <div class="col-4">
                Mill
            </div>
            <div class="col-4">
                Mill Material
            </div>
        </div>
        <div class="row pt-2 text-center">
            <div class="col-2 text-end mx-1" style="padding-top: 5px;">
                <div style="width: 100%; height: 100%;margin-top: 4px;">
                    <i class="fa-solid fa-trash icon-delete"></i>
                </div>
            </div>
            <div class="col-4">
                <dx-select-box placeholder="Select Mill" [items]="mill" [showClearButton]="true"
                    [value]="mill[0]"></dx-select-box>
            </div>
            <div class="col-4">
                <input type="text" name="millMaterial" maxlength="500" class="form-control rounded-pill"
                    [value]="'H SS400 x 200 x 6.0mm x 6m'" />
            </div>
        </div>
        <div class="row pt-2 text-center">
            <div class="col-2 text-end mx-1" style="padding-top: 5px;">
                <div style="width: 100%; height: 100%;margin-top: 4px;">
                    <i class="fa-solid fa-trash icon-delete"></i>
                </div>
            </div>
            <div class="col-4">
                <dx-select-box placeholder="Select Mill" [items]="mill" [showClearButton]="true"
                    [value]="mill[1]"></dx-select-box>
            </div>
            <div class="col-4">
                <input type="text" name="millMaterial" maxlength="500" class="form-control rounded-pill"
                    [value]="'H SS400 x 200 x 6.0mm x 6m'" />
            </div>
        </div>
        <div class="row pt-2 text-center">
            <div class="col-2 text-end mx-1" style="padding-top: 5px;">
                <div style="width: 100%; height: 100%;margin-top: 4px;">
                    <i class="fa-solid fa-trash icon-delete"></i>
                </div>
            </div>
            <div class="col-4">
                <dx-select-box placeholder="Select Mill" [items]="mill" [showClearButton]="true"
                    [value]="mill[2]"></dx-select-box>
            </div>
            <div class="col-4">
                <input type="text" name="millMaterial" maxlength="500" class="form-control rounded-pill"
                    [value]="'H SS400 x 200 x 6.0mm x 6m'" />
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12 text-center">
                <button class="btn btn-success" (onClick)="onClickSaveEditMappingMaterial()"><i
                        class="fa-solid fa-circle-check me-1"></i>Confirm</button>
                <button class="ms-2 btn btn-secondary" (click)="onClickCancelEditMappingMaterial()"><i
                        class="fa-solid fa-ban me-1"></i>Exit</button>
            </div>
        </div>
    </div>
</ng-template>