<div class="container-fluid-login">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card shadow-sm mb-2 bg-white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 rounded" style=" background-color: white;">
                            <div class="row">
                                <div class="col-12 text-center pt-5">
                                    <p class="fs-1">TMT Certificate</p>
                                </div>
                            </div>
                            <div class="row mt-2 text-center">
                                <div class="col-8 offset-2 pt-1 text-start">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" id="username" type="text" autocomplete="off"
                                        placeholder="Username" [(ngModel)]="loginParam.username">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8 offset-2 pt-1 text-start">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" id="password" type="password" autocomplete="off"
                                        placeholder="Password" [(ngModel)]="loginParam.password">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 text-center pt-1">
                                    <button class="btn btn-sm btn-success"
                                        style="width: 200px; background-color: #3C3C8C; padding: 0.5rem;"
                                        (click)="onClickLogin()">
                                        Login
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-3 pb-5">
                                <div class="col-4 offset-4 text-center">
                                    <label class="action">
                                        Forgot password?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>