<div style="background-color: #3C3C8C; height: 100%;">
    <div class="container justify-content-center"> 
        <div class="row" >
            <div class="col-8 offset-2 rounded" style="margin-top: 20%; background-color: white;" >
                <div class="row">
                    <div class="col-12 text-center pt-5">
                        <p class="fs-1">TMT Certificate</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 offset-1 text-end pt-1">
                        <label class="form-label" for="username">Username</label>
                    </div>
                    <div class="col-7">
                        <input class="form-control" id="username" type="text" autocomplete="off" placeholder="Username"
                            [(ngModel)]="loginParam.username">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 offset-1 text-end pt-1">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-7">
                        <input class="form-control" id="password" type="password" autocomplete="off"
                            placeholder="Password" [(ngModel)]="loginParam.password">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4 offset-4 text-center pt-1">
                        <button class="btn btn-sm btn-success" style="width: 150px;" (click)="onClickLogin()">
                            Login
                        </button>
                    </div>
                </div>
                <div class="row mt-2 pb-5">
                    <div class="col-4 offset-4 text-center">
                        <label class="action">
                            ลืมรหัสผ่าน ?
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>