<!-- <div class="row navbar" style="background-color: rgb(244 244 255); width: 100%;">
    <div class="col-6 text-end click" (click)="userType = 'TMT'" [ngClass]="{'focus-icon': userType == 'TMT'}">
        <i class="fa-solid fa-user-lock "></i>
        <span class="ms-2">TMT Employees</span>
    </div>
    <div class="col-6 click" (click)="userType = 'Customer'" [ngClass]="{'focus-icon': userType == 'Customer'}">
        <i class="fa-solid fa-user-large"></i>
        <span class="ms-2">Customer</span>
    </div>
</div>
<div class="container-fluid-login">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card shadow-sm mb-2 bg-white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 rounded" style=" background-color: white;">
                            <div class="row">
                                <div class="col-12 text-center pt-5">
                                    <p class="fs-1">TMT Certificate</p>
                                </div>
                            </div>
                            <div class="row mt-2 text-center">
                                <div class="col-8 offset-2 pt-1 text-start">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" id="username" type="text" autocomplete="off"
                                        placeholder="Username" [(ngModel)]="loginParam.username">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8 offset-2 pt-1 text-start">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" id="password" type="password" autocomplete="off"
                                        placeholder="Password" [(ngModel)]="loginParam.password">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 text-center pt-1">
                                    <button class="btn btn-sm btn-success"
                                        style="width: 200px; background-color: #3C3C8C; padding: 0.5rem;"
                                        (click)="onClickLogin()">
                                        Login
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-3 pb-5">
                                <div class="col-4 offset-4 text-center">
                                    <label class="action">
                                        Forgot password?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="row">
    <div class="col-4 px-0">
        <div class="min-vh-100">
            <div class="row justify-content-center">
                <div class="col-9 auth-login">
                    <div class="text-center ms-3">
                        <img src=".\assets\img\logo.png">
                    </div>
                    <div class="text-center mt-2">
                        <h6>Welcome!</h6>
                        <label>Sign in to continue to Certificate</label>
                    </div>
                    <div class="p-2 mt-5">
                        <form>

                            <div class="mb-4">
                                <label>Username</label>
                                <div class="input-icons">
                                    <i class="fa-solid fa-user icon"></i>
                                    <input class="form-control input-field" type="password">
                                </div>
                            </div>
                            <div class="mb-4">
                                <label>Password</label>
                                <div class="input-icons">
                                    <i class="fa fa-key icon"></i>
                                    <input class="form-control input-field" type="password">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-center">
                                    <span>
                                        <a href="#"> Forgot Password?</a>
                                    </span>
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-login mt-4">
                                    Login
                                </button>
                            </div>




                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="col-8 p-0" style="background-color: black;">
        <img src=".\assets\img\bg_2.jpg" class="img-fluid w-100 h-100">
    </div>
</div>