<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm p-2 mb-2 bg-white rounded">
                <div class="card-header">
                    <h6>Quality Assurance Monitor</h6>
                </div>
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialCode">Material</label>
                        </div>
                        <div class="col-3">
                            <input id="materialCode" class="form-control" type="text" [(ngModel)]="param.materialCode">
                        </div>
                        <div class="col-2 text-end pt-2">
                            <label class="form-label">Production Date</label>
                        </div>
                        <div class="col-3">
                            <dx-select-box displayExpr="text" valueExpr="value" [items]="dateDataSource"
                                [(ngModel)]="param.productionDate" class="mb-2"></dx-select-box>
                            <date-range *ngIf="param.productionDate == 0" [start-date]="param.productionFrom"
                                [end-date]="param.productionTo" (onUpdate)="onProductionDateRangeChanged($event)">
                            </date-range>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialCode">Sold to</label>
                        </div>
                        <div class="col-3">
                            <input id="materialCode" class="form-control" type="text" [(ngModel)]="param.soldTo">
                        </div>
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialdesc">Status</label>
                        </div>
                        <div class="col mt-2">
                            <input [(ngModel)]="param.selectWaitSample" class="form-check-input" type="checkbox"
                                id="waitSample">
                            <label for="waitSample" class="mx-2">Wait Sample</label>
                            <input [(ngModel)]="param.selectWaitFilm" class="form-check-input" type="checkbox"
                                id="waitFilm">
                            <label for="waitFilm" class="mx-2">Wait Film</label>
                            <input [(ngModel)]="param.selectSampleReady" class="form-check-input" type="checkbox"
                                id="sampleReady">
                            <label for="sampleReady" class="mx-2">Sample Ready</label>
                            <input [(ngModel)]="param.selectFilmReady" class="form-check-input" type="checkbox"
                                id="filmReady">
                            <label for="filmReady" class="mx-2">Film Ready</label>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col offset-2" style="padding-left: inherit;">
                            <button class="btn btn-sm btn-success">
                                <i class="fa-solid fa-magnifying-glass me-1"></i>
                                Search
                            </button>
                            <button class="btn btn-sm btn-secondary ms-2" (click)="onClickClear()">
                                <i class="fa-solid fa-broom me-1"></i>
                                Clear
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col-12">

                            <dx-data-grid id="gridContainer" [dataSource]="dataSourceMonitorStatus"
                                [remoteOperations]="false" [allowColumnReordering]="true"
                                [rowAlternationEnabled]="false" [showBorders]="true" [width]="'100%'"
                                [showColumnLines]="true" [showRowLines]="true">


                                <dxi-column dataField="productionOrder" caption="Production Order" dataType="number"
                                    [width]="130" alignment="center"></dxi-column>
                                <dxi-column dataField="itemNo" caption="No." dataType="number" [width]="40"
                                    alignment="center" cellTemplate="indexTemplate">
                                    <div *dxTemplate="let cell of 'indexTemplate'">
                                        {{cell.value}}.
                                    </div>
                                </dxi-column>
                                <dxi-column dataField="materialCode" caption="Material" dataType="string" [width]="120"
                                    alignment="left"></dxi-column>
                                <dxi-column dataField="materialDesc" caption="Material Description" dataType="string"
                                    [minWidth]="280" alignment="left"></dxi-column>
                                <dxi-column dataField="qty" caption="Quantity" dataType="number" [width]="70"
                                    cellTemplate="numberTemplate" alignment="right">
                                </dxi-column>
                                <dxi-column dataField="unit" caption="Unit" [width]="40"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="soldTo" caption="Sold to" dataType="string" [width]="80"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="soldToName" caption="Sold to Name" dataType="string"
                                    [width]="280" alignment="left"></dxi-column>
                                <dxi-column dataField="grDate" caption="GR Date" dataType="string" [width]="100"
                                    alignment="center" cellTemplate="dateTemplate">
                                    <div *dxTemplate="let cell of 'dateTemplate'">
                                        {{ cell.value | date: 'dd-MMM-yyyy' }}
                                    </div>
                                </dxi-column>

                                <dxi-column dataField="status" caption="Status" dataType="string" [width]="120"
                                    alignment="center" cellTemplate="statusTemplate">
                                    <div *dxTemplate="let cell of 'statusTemplate'">
                                        <label
                                            [ngClass]="{'wait': cell.data.status == 'Wait Film' || cell.data.status == 'Wait Sample' , 'ready': cell.data.status == 'Sample Ready' || cell.data.status == 'Film Ready' }">{{
                                            cell.data.status }}</label>
                                    </div>
                                </dxi-column>

                                <dxi-column width="60" alignment="center" cellTemplate="toolsTemplate">
                                    <div *dxTemplate="let cell of 'toolsTemplate'">
                                        <i style="cursor: pointer;" class="fa-solid fa-file-arrow-up icon-update"
                                            (click)="OnClickUpdateStatus(cell)"
                                            [ngClass]="{'': cell.data.status == 'Wait Film' || cell.data.status == 'Wait Sample' , 'fa-solid fa-file-arrow-up icon-update': cell.data.status == 'Film Ready' || cell.data.status == 'Sample Ready'}"></i>
                                    </div>
                                </dxi-column>

                                <div *dxTemplate="let cell of 'numberTemplate'">
                                    {{cell.value | number: '.2'}}
                                </div>

                            </dx-data-grid>

                            <div class="row mt-2">
                                <div class="col text-end">
                                    <i class="fa-solid fa-file-arrow-up icon-update"></i>
                                    <label class="ms-2 legend">
                                        Upload Test Result
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm p-2 mb-2 bg-white rounded">
                <div class="card-header">
                    <h6>Quality Assurance Completed</h6>
                </div>
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialCode">Material</label>
                        </div>
                        <div class="col-3">
                            <input id="materialCode" class="form-control" type="text"
                                [(ngModel)]="paramComplete.materialCode">
                        </div>
                        <div class="col-2 text-end pt-2">
                            <label class="form-label">Production Date</label>
                        </div>
                        <div class="col-3">
                            <dx-select-box displayExpr="text" valueExpr="value" [items]="dateDataSource"
                                [(ngModel)]="paramComplete.productionDate" class="mb-2"></dx-select-box>
                            <date-range *ngIf="paramComplete.productionDate == 0"
                                [start-date]="paramComplete.productionFrom" [end-date]="paramComplete.productionTo"
                                (onUpdate)="onProductionCompleteDateRangeChanged($event)">
                            </date-range>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialCode">Sold to</label>
                        </div>
                        <div class="col-3">
                            <input id="materialCode" class="form-control" type="text" [(ngModel)]="param.soldTo">
                        </div>
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialdesc">Status</label>
                        </div>
                        <div class="col mt-2">
                            <input [(ngModel)]="paramComplete.selectCancel" class="form-check-input" type="checkbox"
                                id="complete">
                            <label for="complete" class="mx-2">Complete</label>
                            <input [(ngModel)]="paramComplete.selectComplete" class="form-check-input" type="checkbox"
                                id="cancel">
                            <label for="cancel" class="mx-2">Cancel</label>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col offset-2" style="padding-left: inherit;">
                            <button class="btn btn-sm btn-success">
                                <i class="fa-solid fa-magnifying-glass me-1"></i>
                                Search
                            </button>
                            <button class="btn btn-sm btn-secondary ms-2" (click)="onClickClearComplete()">
                                <i class="fa-solid fa-broom me-1"></i>
                                Clear
                            </button>
                        </div>
                    </div>
                    <hr>

                    <div class="row mt-4">
                        <div class="col-12">

                            <dx-data-grid id="gridContainer" [dataSource]="dataSourceCompleteStatus"
                                [remoteOperations]="false" [allowColumnReordering]="true"
                                [rowAlternationEnabled]="false" [showBorders]="true" [width]="'100%'"
                                [showColumnLines]="true" [showRowLines]="true">


                                <dxi-column dataField="productionOrder" caption="Production Order" dataType="number"
                                    [width]="130" alignment="center"></dxi-column>
                                <dxi-column dataField="itemNo" caption="No." dataType="number" [width]="40"
                                    alignment="center" cellTemplate="indexTemplate">
                                    <div *dxTemplate="let cell of 'indexTemplate'">
                                        {{cell.value}}.
                                    </div>
                                </dxi-column>
                                <dxi-column dataField="materialCode" caption="Material" dataType="string" [width]="120"
                                    alignment="left"></dxi-column>
                                <dxi-column dataField="materialDesc" caption="Material Description" dataType="string"
                                    [minWidth]="280" alignment="left"></dxi-column>
                                <dxi-column dataField="qty" caption="Quantity" dataType="number" [width]="70"
                                    cellTemplate="numberTemplate" alignment="right">
                                </dxi-column>
                                <dxi-column dataField="unit" caption="Unit" [width]="40" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="soldTo" caption="Sold to" dataType="string" [width]="80"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="soldToName" caption="Sold to Name" dataType="string"
                                    [width]="280" alignment="left"></dxi-column>
                                <dxi-column dataField="grDate" caption="GR Date" dataType="string" [width]="100"
                                    alignment="center" cellTemplate="dateTemplate">
                                    <div *dxTemplate="let cell of 'dateTemplate'">
                                        {{ cell.value | date: 'dd-MMM-yyyy' }}
                                    </div>
                                </dxi-column>

                                <dxi-column dataField="status" caption="Status" dataType="string" [width]="120"
                                    alignment="center" cellTemplate="statusTemplate">
                                    <div *dxTemplate="let cell of 'statusTemplate'">
                                        <label
                                            [ngClass]="{'cancel': cell.data.status == 'Cancel' , 'complete': cell.data.status == 'Complete' }">{{
                                            cell.data.status }}</label>
                                    </div>
                                </dxi-column>

                                <dxi-column width="60" alignment="center" cellTemplate="toolsTemplate">
                                    <div *dxTemplate="let cell of 'toolsTemplate'">
                                        <i style="cursor: pointer;" class="fa-solid fa-circle-down icon-delete"
                                            (click)="OnClickDownStatus(cell.data)"
                                            [ngClass]="{'': cell.data.status == 'Cancel', 'fa-solid fa-circle-down icon-delete': cell.data.status == 'Complete'}"></i>
                                    </div>
                                </dxi-column>

                                <div *dxTemplate="let cell of 'numberTemplate'">
                                    {{cell.value | number: '.2'}}
                                </div>

                            </dx-data-grid>

                            <div class="row mt-2">
                                <div class="col text-end">
                                    <i class="fa-solid fa-circle-down icon-delete"></i>
                                    <label class="ms-2 legend">
                                        Down Status
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #uploadTestResult>
    <div class="modal-header">
        <h5 class="modal-title">Production Order No. {{productionOrder}}</h5>
        <span style="cursor: pointer;" class="close-modal" name="close-modal-import"
            (click)="onClickExitUpdateStatus()">&times;</span>
    </div>

    <div class="modal-body">
        <!-- <div class="row">
            <error-panel name="error-panel" #errorPanelModal></error-panel>
        </div> -->
        <div *ngIf="status == 'Sample Ready'">

            <div class="row ">
                <div class="col-2">
                    <h6>Sticker Detail</h6>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-2 text-end">
                    <label for="dateSampleReady" class="form-label mt-2">Date</label>
                </div>
                <div class="col-3">
                    <input type="date" [value]="dateSampleReady" id="dateSampleReady" class="form-control">
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-2 text-end">
                    <label for="customerName" class="form-label mt-2">Customer Name</label>
                </div>
                <div class="col-3 pt-2">
                    {{ customerName }}
                </div>
                <div class="col-2 text-end">
                    <label for="productionOrder" class="form-label mt-2">Production Order</label>
                </div>
                <div class="col-3 pt-2">
                    {{ productionOrder }}
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-2 text-end">
                    <label for="materialDesc" class="form-label mt-2">Material</label>
                </div>
                <div class="col-3 pt-2">
                    {{ material }}
                </div>
                <div class="col-2 text-end">
                    <label for="materialDesc" class="form-label mt-2">Material Description</label>
                </div>
                <div class="col-3 pt-2">
                    {{ materialDesc }}
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-2 text-end">
                    <label for="coilNo" class="form-label mt-2">Coil No.</label>
                </div>
                <div class="col-3">
                    <input [value]="coilNo" id="coilNo" class="form-control">
                </div>
                <div class="col-2 text-end">
                    <label for="heatNo" class="form-label mt-2">Heat No.</label>
                </div>
                <div class="col-3">
                    <input [value]="heatNo" id="heatNo" class="form-control">
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-2 text-end">
                    <label for="machine" class="form-label mt-2">เครื่องจักร</label>
                </div>
                <div class="col-3">
                    <input [value]="machine" id="machine" class="form-control">
                </div>
                <div class="col-2 text-end">
                    <label for="grade" class="form-label mt-2">Grade</label>
                </div>
                <div class="col-3">
                    <dx-select-box displayExpr="text" valueExpr="value" [items]="gradeDataSource"></dx-select-box>
                </div>
            </div>

            <div class="row pt-3 mb-4">
                <div class="col-2 text-end">
                    <label for="detail">Remark</label>
                </div>
                <div class="col-8">
                    <textarea type="text" id="detail" class="form-control" rows="4"></textarea>
                </div>
            </div>

            <hr>
        </div>

        <div *ngIf="status == 'Film Ready'">
            <div class="row pt-2">
                <div class="col-2 text-end">
                    <label for="detail">Remark</label>
                </div>
                <div class="col-8">
                    <textarea type="text" id="detail" class="form-control" rows="4"></textarea>
                </div>
            </div>

            <hr>
        </div>


        <div class="row mt-4 text-center">
            <div class="col-2 offset-2 text-end">
                <label for="mill-upload" class="pt-1">ประเภทเหล็ก</label>
            </div>
            <div class="col-5">
                <dx-select-box displayExpr="text" valueExpr="value" [items]="materialTypeDataSource"
                    [(ngModel)]="materialTypeUpload"></dx-select-box>
            </div>
        </div>
        <div class="row mt-2 text-center">
            <div class="col-6 offset-3 text-center">
                <input #fileInput class="form-control rounded-pill" #myInput type="file" name="filename"
                    (change)="handleFileInput($event)">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-sm btn-primary" [disabled]="!materialTypeUpload || !fileToUpload"
                    (click)="onClickConfirmUpload()"><i class="fa-solid fa-upload"></i> Upload</button>
                <button class="btn btn-sm btn-secondary ms-2" (click)="modalRef.hide()"><i class="fa-solid fa-ban"></i>
                    Cancel</button>
            </div>
        </div>

    </div>
</ng-template>