<div class="container container justify-content-center pt-2">
    <div class="row mt-2">
        <h6>DO</h6>

    </div>
    <hr>

    <div class="row mt-4">
        <div class="col-2 offset-1 text-end pt-2">
            <label class="form-label" for="customer">Customer</label>
        </div>
        <div class="col-3">
            <input id="customer" class="form-control" type="text">
        </div>
        <div class="col-2 text-end pt-2">
            <label for="shipment" class="form-label">Shipment</label>
        </div>
        <div class="col-3">
            <input id="shipment" class="form-control" type="text">
        </div>
    </div>

    <div class="row p-2">
        <div class="col offset-3">
            <button class="btn btn-success">Search</button>
            <button class="btn btn-secondary m-2">Clear</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <dx-data-grid id="gridContainer" [dataSource]="dataSource" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">


                <dxi-column dataField="shipmentCode" caption="Shipment" dataType="number" [width]="200"
                    alignment="center" cellTemplate="shipmentTemplate"></dxi-column>
                <dxi-column dataField="customerCode" caption="Customer Code" dataType="number" [width]="150"
                    alignment="center"></dxi-column>
                <dxi-column dataField="customerName" caption="Customer Name" dataType="string" [minWidth]="150"
                    alignment="left"></dxi-column>
                <dxi-column dataField="heatNo" caption="Heat No." dataType="string" [width]="150"
                    alignment="left"></dxi-column>

                <div *dxTemplate="let cell of 'shipmentTemplate'">
                    <span class="action" (click)="onClickShipment(cell.data)">
                        {{ cell.value }}
                    </span>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>