<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm p-2 mb-2 bg-white rounded">
        <div class="card-header">
          <div *ngIf="isEdit; else entry">
            <h6>Certificate Edit</h6>
          </div>
          <ng-template #entry>
            <h6>Certificate Entry</h6>
          </ng-template>

        </div>
        <div class="card-body">
          <div class="row mt-2">
            <div class="col-12" style="height: 100%;">
              <ngx-extended-pdf-viewer [showBookModeButton]="false" [showHandToolButton]="false"
                [showHorizontalScrollButton]="false" [showInfiniteScrollButton]="false"
                [showPresentationModeButton]="false" [showPropertiesButton]="false" [showPrintButton]="false"
                [showDrawEditor]="false" [showFindButton]="false" [showWrappedScrollButton]="false"
                [showTextEditor]="false" [showUnverifiedSignatures]="false" [showSinglePageModeButton]="false"
                [showVerticalScrollButton]="false" [showSidebarButton]="false" [showSpreadButton]="false"
                [showSecondaryToolbarButton]="false" [showOpenFileButton]="false" [showDownloadButton]="false"
                [showPagingButtons]="false" [showRotateButton]="false" [src]="src">
              </ngx-extended-pdf-viewer>


              <div class="row mt-4">
                <div class="col-12">
                  <h6>Certificate Info</h6>
                  <hr>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-2 text-end">
                  <label>Mill</label>
                </div>
                <div class="col-3">
                  <label>SYS</label>
                </div>

                <div class="col-2  text-end">
                  <label>Upload Date</label>
                </div>
                <div class="col-3">
                  {{ today | date: 'dd-MMM-yyyy' }}
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-2 text-end pt-1">
                  <label for="certNo">Certificate No.</label>
                </div>
                <div class="col-3">
                  <input type="text" id="certNo" class="form-control" [(ngModel)]="certNo">
                </div>

                <div class="col-2 text-end pt-1">
                  <label for="certDate">Certificate Date</label>
                </div>
                <div class="col-3">
                  <input [(ngModel)]="certDate" type="date" id="certDate" class="form-control">
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-2 text-end pt-1">
                  <label for="remark">Remark</label>
                </div>
                <div class="col-8">
                  <textarea type="text" id="remark" class="form-control">
                        </textarea>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">
                  <h6>Material Detail</h6>
                  <hr>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-end">
                  <button class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> Add</button>
                  <button class="btn btn-sm btn-primary ms-2"><i class="fa-solid fa-file"></i> Read PDF</button>
                </div>
              </div>

              <div class="overflow-auto mt-2" style="width: 100%;">
                <table>
                  <tr class="text-center" style="width: 100%;">
                    <th> Mill Material</th>
                    <th> Material </th>
                    <th> Grade </th>
                    <th> Heat No. </th>
                    <th> Quantity </th>
                    <th> Unit </th>
                    <th> Yield </th>
                    <th> Tensile </th>
                    <th> Remark </th>
                    <th> </th>
                  </tr>

                  <tr *ngFor="let item of list" class="overflow-auto" style="width: 100%;">
                    <td style="min-width: 230px;"> <input class="form-control" [(ngModel)]="item.millDesc" /> </td>
                    <td style="min-width: 400px;"> <dx-select-box displayExpr="text" valueExpr="value"
                        [items]="materialDataSource" [(ngModel)]="item.tmtMaterial"></dx-select-box> </td>
                    <td style="min-width: 70px;"> <input class="form-control" [(ngModel)]="item.grade" /> </td>
                    <td style="min-width: 70px;"> <input class="form-control" [(ngModel)]="item.heatNo" /> </td>
                    <td style="min-width: 100px;"> <input class="form-control right-form" [(ngModel)]="item.quantity" /> </td>
                    <td style="min-width: 45px;"> <input class="form-control" [(ngModel)]="item.unit" /> </td>
                    <td style="min-width: 60px;"> <input class="form-control right-form" [(ngModel)]="item.yield" />
                    </td>
                    <td style="min-width: 60px;"> <input class="form-control right-form" [(ngModel)]="item.tensile" />
                    </td>
                    <td style="min-width: 150px;"> <input class="form-control" [(ngModel)]="item.remark" /> </td>
                    <td style="min-width: 40px;"> <button class="btn" (click)="onClickDelete(item)"><i
                          class="fa-solid fa-trash icon-delete click"></i></button> </td>
                  </tr>
                </table>
              </div>

              <div class="row mt-2">
                <div class="col-12 text-end">
                  <span class="legend"><i class="fa-solid fa-trash icon-delete mx-2"></i>Delete</span>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12 text-center">
                  <button class="btn btn-sm btn-success" (click)="onClickSave()"><i class="fa-solid fa-floppy-disk"></i>
                    Save</button>
                  <button class="btn btn-sm btn-secondary ms-2" (click)="onClickExit()"><i
                      class="fa-solid fa-xmark"></i> Exit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>