<div class="row p-2 mt-2">
    <div class="col offset-2 ">
        <h6 >ประวัติการสั่งซื้อ</h6>
    </div>
</div>

<div class="row p-2 text-center">
    <div class="col-2 text-end pt-2">
        <label class="form-label" for="materialdesc">Material Description</label>
    </div>
    <div class="col-2">
        <input id="materialdesc" class="form-control" type="text">
    </div>
    <div class="col-2 text-end pt-2">
        <label class="form-label">Date</label>
    </div>
    <div class="col-2">
        <input class="form-control" type="date">
    </div>
</div>

<div class="row p-2 text-center">
    <div class="col-5 ms-2">
        <button class="btn btn-success">Search</button>
        <button class="btn btn-clear m-2">Clear</button>
    </div>
</div>

<div class="row p-2 text-center">
    <div class="col">
    </div>
</div>