<div class="row p-2">
    <div class="col-12">
        <h6>ประวัติการสั่งซื้อ</h6>
    </div>
</div>

<div class="row p-2">
    <div class="col-3">
        <span>Material Description</span>
        <input class="form-control" type="text">
    </div>
    <div class="col-3">
        <span>Date</span>
        <input class="form-control" type="date">
    </div>
</div>

<div class="row p-2">
    <div class="col">
        <button class="btn btn-success">Search</button>
        <button class="btn btn-clear m-2">Clear</button>
    </div>
</div>

<div class="row">
    <div class="col">
    </div>
</div>
