<div class="row">
    <div class="col">
        <h3>ประวัติการสั่งซื้อ</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Material Description</span>
        <input class="form-control" type="text">
    </div>
    <div class="col">
        <span>Date</span>
        <input class="form-control" type="date">
    </div>
</div>

<div class="row">
    <div class="col">
        <button>Search</button>
    </div>
    <div class="col">
        <button>Clear</button>
    </div>
</div>

<div class="row">
    <div class="col">
    </div>
</div>
