<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm p-2 mb-2 bg-white rounded">
        <div class="card-header">
          <h6>Upload Test Result</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12" style="height: 100%;">
              <ngx-extended-pdf-viewer [showBookModeButton]="false" [showHandToolButton]="false"
                [showHorizontalScrollButton]="false" [showInfiniteScrollButton]="false"
                [showPresentationModeButton]="false" [showPropertiesButton]="false" [showPrintButton]="false"
                [showDrawEditor]="false" [showFindButton]="false" [showWrappedScrollButton]="false"
                [showTextEditor]="false" [showUnverifiedSignatures]="false" [showSinglePageModeButton]="false"
                [showVerticalScrollButton]="false" [showSidebarButton]="false" [showSpreadButton]="false"
                [showSecondaryToolbarButton]="false" [showOpenFileButton]="false" [showDownloadButton]="false"
                [src]="src">
              </ngx-extended-pdf-viewer>


              <div class="row mt-4">
                <div class="col-12">
                  <h6>Detail</h6>
                  <hr>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-2 text-end pt-1">
                  <label>Certificate No.</label>
                </div>
                <div class="col-3">
                  <input type="text" id="certNo" class="form-control">
                </div>

                <div class="col-2  text-end pt-1">
                  <label>Date of Test.</label>
                </div>
                <div class="col-3">
                  <input type="date" id="date" class="form-control">
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-2 text-end pt-1">
                  <label for="stardardSpecific">Standard/Specific</label>
                </div>
                <div class="col-3">
                  <input type="text" id="stardardSpecific" class="form-control">
                </div>

                <div class="col-2 text-end pt-1">
                  <label for="commodity">Commodity</label>
                </div>
                <div class="col-3">
                  <input type="text" id="commodity" class="form-control">
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-2 text-end pt-1">
                  <label for="certNo">Testing Machine No.</label>
                </div>
                <div class="col-3">
                  <input type="text" id="certNo" class="form-control">
                </div>

                <div class="col-2 text-end pt-1">
                  <label for="certDate">Order No.</label>
                </div>
                <div class="col-3">
                  <input type="text" id="certDate" class="form-control">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12">
                  <h6>Certificate Detail</h6>
                  <hr>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-12 text-end">
                  <button class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> Add</button>
                  <button class="btn btn-sm btn-primary ms-2"><i class="fa-solid fa-file"></i> Read PDF</button>
                </div>
              </div>

              <div class="overflow-auto mt-2">
                <dx-data-grid id="gridContainer" [dataSource]="dataSourceCeritificate" [remoteOperations]="false"
                  [allowColumnReordering]="false" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
                  [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">


                  <dxi-column dataField="materialDecs" caption="Material Description" dataType="string" [minWidth]="250"
                    alignment="left"></dxi-column>
                  <dxi-column [width]="60" caption="C" dataField="c" alignment="right">
                  </dxi-column>
                  <dxi-column [width]="60" caption="Si" dataField="si" alignment="right">
                  </dxi-column>
                  <dxi-column [width]="60" caption="Mn" dataField="mn" alignment="right">
                  </dxi-column>
                  <dxi-column [width]="60" caption="P" dataField="p" alignment="right">
                  </dxi-column>
                  <dxi-column [width]="60" caption="S" dataField="s" alignment="right">
                  </dxi-column>
                  <dxi-column [width]="120" caption="Y.S." dataField="ys" alignment="right"
                    headerCellTemplate="ysTemplate" cellTemplate="numberTemplate">
                    <div *dxTemplate="let cell of 'ysTemplate'">
                      <label>Y.S.<br />
                        (ความเค้นคราก)
                      </label>
                    </div>
                  </dxi-column>
                  <dxi-column [width]="120" caption="T.S." dataField="ts" alignment="right"
                    headerCellTemplate="tsTemplate" cellTemplate="numberTemplate">
                    <div *dxTemplate="let cell of 'tsTemplate'">
                      <label>T.S.<br />
                        (ความเค้นสูงสุด)
                      </label>
                    </div>
                  </dxi-column>
                  <dxi-column [width]="100" caption="Elongation" dataField="elongation" alignment="right"
                    headerCellTemplate="elongationTemplate" cellTemplate="numberTemplate">
                    <div *dxTemplate="let cell of 'elongationTemplate'">
                      <label>Elongation<br />
                        (ความยืด)
                      </label>
                    </div>
                  </dxi-column>
                  <dxi-column [width]="100" caption="Hardness (ความแข็ง)" dataField="hardness" alignment="center"
                    headerCellTemplate="hardnessTemplate">
                    <div *dxTemplate="let cell of 'hardnessTemplate'">
                      <label>Hardness<br />
                        (ความแข็ง)
                      </label>
                    </div>
                  </dxi-column>
                  <dxi-column [width]="100" caption="Bend Test (การดัดโค้ง)" dataField="bendTest" alignment="center" headerCellTemplate="bendTestTemplate">
                    <div *dxTemplate="let cell of 'bendTestTemplate'">
                      <label>Bend Test<br />
                        (การดัดโค้ง)
                      </label>
                    </div>
                  </dxi-column>
                  <dxi-column [width]="100" caption="Compression (การกดแบน)" dataField="compression" alignment="center" headerCellTemplate="compressionTemplate"> 
                    <div *dxTemplate="let cell of 'compressionTemplate'">
                      <label>Compression<br />
                        (การกดแบน)
                      </label>
                    </div>
                  </dxi-column>
                  <dxi-column [width]="120" caption="Impact Energy (การกระแทกชาร์ปี)" dataField="impactEnergy"
                    alignment="right" cellTemplate="impactEnergyTemplate" headerCellTemplate="impactEnergyHeadTemplate">
                    <div *dxTemplate="let cell of 'impactEnergyTemplate'">
                      <label *ngIf="cell.data.impactEnergy == 0">{{ '-' || cell.data.impactEnergy }}</label>
                    </div>
                  </dxi-column>

                  <div *dxTemplate="let cell of 'impactEnergyHeadTemplate'">
                    <label>Impact Energy<br />
                      (การกระแทกชาร์ปี)
                    </label>
                  </div>

                  <div *dxTemplate="let cell of 'numberTemplate'">
                    {{cell.value | number: '.2'}}
                </div>

                  <dxi-column width="40" cellTemplate="deleteTemplate" alignment="center">
                    <div *dxTemplate="let cell of 'deleteTemplate'">
                      <i (click)="onClickDelete()" class="fa-solid fa-trash icon-delete click"></i>
                    </div>
                  </dxi-column>



                </dx-data-grid>

              </div>


              <div class="row mt-2">
                <div class="col-12 text-end">
                  <span class="legend"><i class="fa-solid fa-trash icon-delete mx-2"></i>Delete</span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-center">
                  <button class="btn btn-sm btn-success" (click)="onClickConfirm()"><i
                      class="fa-solid fa-floppy-disk"></i>
                    Confirm</button>
                  <button class="btn btn-sm btn-secondary ms-2" (click)="onClickCancel()"><i
                      class="fa-solid fa-xmark"></i>
                    Cancel</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>