<div class="container justify-content-center" style="height: 100%;">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-12 text-center">
                    TMT Certificate
                </div>
            </div>
            <div class="row mt-2">
                <div class="offset-1 col-10 text-center">
                    <input class="form-control" type="text" [(ngModel)]="loginParam.username">
                </div>
            </div>
            <div class="row mt-2">
                <div class="offset-1 col-10 text-center">
                    <input class="form-control" type="text" [(ngModel)]="loginParam.password">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4 offset-4 text-center">
                    <button class="btn btn-success">
                        Login
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4 offset-4 text-center">ลืมรหัสผ่าน ?</div>
            </div>
        </div>
    </div>
</div>