<div class="container justify-content-center">
    <div class="row mt-2">
        <h6>Certificate Info</h6>
        <hr>
    </div>

    <div class="row mt-4">
        <div class="col-2 offset-1 text-end">
            <label for="certificateNo" class="from-label pt-1">Certificate No.</label>
        </div>
        <div class="col-3">
            <input id="certificateNo" type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4 text-center">
        <div class="col-2 offset-1 text-end">
            <label for="material" class="from-label pt-1">Material</label>
        </div>
        <div class="col-3">
            <input id="material" type="text" class="form-control">
        </div>
        <div class="col-2 text-end">
            <label for="grade" class="from-label pt-1">Grade</label>
        </div>
        <div class="col-3">
            <input id="grade" type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4 text-center">
        <div class="col-2 offset-1 text-end">
            <label for="mill" class="from-label pt-1">Mill</label>
        </div>
        <div class="col-3">
            <input id="mill" type="text" class="form-control">
        </div>
        <div class="col-2 text-end">
            <label for="heatNo" class="from-label pt-1">Heat No.</label>
        </div>
        <div class="col-3">
            <input id="heatNo" type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2 offset-1 text-end">
            <label for="mill" class="from-label pt-1">Certificate Date</label>
        </div>
        <div class="col-3">
            <input id="mill" type="text" class="form-control">
        </div>
        <div class="col-2 text-end">
            <label for="heatNo" class="from-label pt-1">Upload Date</label>
        </div>
        <div class="col-3">
            <input id="heatNo" type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3 offset-3">
            <button class="btn btn-success">Search</button>
            <button class="btn btn-secondary ms-2">Clear</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-6 text-start">
            <h6>Certificate Detail</h6>
        </div><hr>
    </div>

    <div class="row mt-2">
        <div class="col-12 text-end">
            <button class="btn btn-primary">Upload</button>
        </div>
    </div>
    <div class="row mt-4">

        <div class="col-12">
            <dx-data-grid
                id="gridContainer" [dataSource]="list" [remoteOperations]="false"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">

                <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
                <div *dxTemplate="let detail of 'detail'" >
                    <certificate-list-detail [dataSource]="detail.data.dataSource"></certificate-list-detail>
                </div>
                <dxi-column width="150" caption="Certificate No." alignment="center" dataField="certNo"></dxi-column>
                <dxi-column minWidth="40" caption="Mill" alignment="left" dataField="mill"></dxi-column>
                <dxi-column width="150" caption="Total Material" alignment="right"
                    dataField="totalMaterial"></dxi-column>
                <dxi-column width="150" caption="Certificate Date" alignment="center" dataField="certDate"></dxi-column>
                <dxi-column width="150" caption="Upload Date" alignment="center" dataField="uploadDate"></dxi-column>
                <dxi-column width="150" caption="Modified By" alignment="center" dataField="modifiedBy"></dxi-column>
                <dxi-column width="150" caption="Modified Time" alignment="center" dataField="modifiedTime"></dxi-column>

                <dxi-column width="40" cellTemplate="deleteTemplate" alignment="center">
                    <div *dxTemplate="let cell of 'deleteTemplate'">
                        d
                    </div>
                </dxi-column>
                <div *dxTemplate="let cell of 'dateTemplate'">
                    {{ cell.value | date: 'dd-MMM-yyyy HH:mm' }}                    
                </div>

            </dx-data-grid>
        </div>

    </div>



</div>