<div class="container justify-content-center">
    <div class="row mt-2">
        <h6>Certificate Info</h6>    
        <hr>
    </div>

    <div class="row mt-4">
        <div class="col-2 offset-1 text-end">
            <label for="certificateNo" class="from-label pt-1">Certificate No.</label>
        </div>
        <div class="col-3">
            <input id="certificateNo" type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4 text-center">
        <div class="col-2 offset-1 text-end">
            <label for="material" class="from-label pt-1">Material</label>
        </div>
        <div class="col-3">
            <input id="material" type="text" class="form-control">
        </div>
        <div class="col-2 text-end">
            <label for="grade" class="from-label pt-1">Grade</label>
        </div>
        <div class="col-3">
            <input id="grade" type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4 text-center">
        <div class="col-2 offset-1 text-end">
            <label for="mill" class="from-label pt-1">Mill</label>
        </div>
        <div class="col-3">
            <input id="mill" type="text" class="form-control">
        </div>
        <div class="col-2 text-end">
            <label for="heatNo" class="from-label pt-1">Heat No.</label>
        </div>
        <div class="col-3">
            <input id="heatNo" type="text" class="form-control">
        </div>
    </div>
    
    <div class="row mt-4 text-center">
        <div class="col-2 offset-1 text-end">
            <label for="mill" class="from-label pt-1">Certificate Date</label>
        </div>
        <div class="col-3">
            <input id="mill" type="text" class="form-control">
        </div>
        <div class="col-2 text-end">
            <label for="heatNo" class="from-label pt-1">Upload Date</label>
        </div>
        <div class="col-3">
            <input id="heatNo" type="text" class="form-control">
        </div>
    </div>



</div>