<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm p-2 mb-2 bg-white rounded">
                <div class="card-header">
                    <h6>Production Order</h6>
                </div>
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialCode">Production Order</label>
                        </div>
                        <div class="col-3">
                            <input id="materialCode" class="form-control" type="text"
                                [(ngModel)]="paramMonitor.productionOrder">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialCode">Material</label>
                        </div>
                        <div class="col-3">
                            <input id="materialCode" class="form-control" type="text"
                                [(ngModel)]="paramMonitor.materialCode">
                        </div>
                        <div class="col-2 text-end pt-2">
                            <label class="form-label">Production Date</label>
                        </div>
                        <div class="col-3">
                            <dx-select-box displayExpr="text" valueExpr="value" [items]="dateDataSource"
                                [(ngModel)]="paramMonitor.productionDate" class="mb-2"></dx-select-box>
                            <date-range *ngIf="paramMonitor.productionDate == 0"
                                [start-date]="paramMonitor.productionFrom" [end-date]="paramMonitor.productionTo"
                                (onUpdate)="onProductionMonitorDateRangeChanged($event)">
                            </date-range>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialCode">Sold to</label>
                        </div>
                        <div class="col-3">
                            <input id="materialCode" class="form-control" type="text" [(ngModel)]="paramMonitor.soldTo">
                        </div>
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialdesc">Status</label>
                        </div>
                        <div class="col mt-2">
                            <input [(ngModel)]="paramMonitor.selectWaitSample" class="form-check-input" type="checkbox"
                                id="waitSample">
                            <label for="waitSample" class="mx-2">Wait Sample</label>
                            <input [(ngModel)]="paramMonitor.selectWaitFilm" class="form-check-input" type="checkbox"
                                id="waitFilm">
                            <label for="waitFilm" class="mx-2">Wait Film</label>
                            <input [(ngModel)]="paramMonitor.selectSampleReady" class="form-check-input" type="checkbox"
                                id="waitSample">
                            <label for="waitSample" class="mx-2">Sample Ready</label>
                            <input [(ngModel)]="paramMonitor.selectFilmReady" class="form-check-input" type="checkbox"
                                id="waitFilm">
                            <label for="waitFilm" class="mx-2">Film Ready</label>
                            <input [(ngModel)]="paramMonitor.selectComplete" class="form-check-input" type="checkbox"
                                id="waitSample">
                            <label for="waitSample" class="mx-2">Complete</label>
                            <input [(ngModel)]="paramMonitor.selectCancel" class="form-check-input" type="checkbox"
                                id="waitFilm">
                            <label for="waitFilm" class="mx-2">Cancel</label>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col offset-2" style="padding-left: inherit;">
                            <button class="btn btn-sm btn-success"><i
                                    class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
                            <button class="btn btn-sm btn-secondary ms-2" (click)="onClickMonitorClear()"><i
                                    class="fa-solid fa-broom me-1"></i>Clear</button>
                        </div>
                    </div>

                    <hr>

                    <div class="row mt-4">
                        <div class="col-12">

                            <dx-data-grid #monitorGrid id="gridContainer" [dataSource]="dataSourceMonitorStatus"
                                [remoteOperations]="false" [allowColumnReordering]="true"
                                [rowAlternationEnabled]="false" [showBorders]="true" [width]="'100%'"
                                [showColumnLines]="true" [showRowLines]="true">


                                <dxi-column dataField="productionOrder" caption="Production Order" dataType="number"
                                    [width]="130" alignment="center"></dxi-column>
                                <dxi-column dataField="itemNo" caption="No." dataType="number" [width]="40"
                                    alignment="center" cellTemplate="rowIndexTemplate">
                                    <div *dxTemplate="let cell of 'rowIndexTemplate'">
                                        {{ cell.rowIndex +1 }}.
                                    </div>
                                </dxi-column>
                                <dxi-column dataField="materialCode" caption="Material" dataType="string" [width]="120"
                                    alignment="left"></dxi-column>
                                <dxi-column dataField="materialDesc" caption="Material Description" dataType="string"
                                    [minWidth]="240" alignment="left"></dxi-column>
                                <dxi-column dataField="qty" caption="Quantity" dataType="number" [width]="70"
                                    cellTemplate="numberTemplate" alignment="right">
                                </dxi-column>
                                <dxi-column dataField="unit" caption="Unit" dataType="string" [width]="40"
                                    alignment="center">
                                </dxi-column>
                                <dxi-column dataField="soldTo" caption="Sold to" dataType="string" [width]="80"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="soldToName" caption="Sold to Name" dataType="string"
                                    [width]="220" alignment="left"></dxi-column>
                                <dxi-column dataField="grDate" caption="GR Date" dataType="string" [width]="100"
                                    alignment="center" cellTemplate="dateTemplate">
                                    <div *dxTemplate="let cell of 'dateTemplate'">
                                        {{ cell.value | date: 'dd-MMM-yyyy' }}
                                    </div>
                                </dxi-column>

                                <dxi-column dataField="status" caption="Status" dataType="string" [width]="120"
                                    alignment="center" cellTemplate="statusTemplate">
                                    <div *dxTemplate="let cell of 'statusTemplate'">
                                        <label [ngClass]="{'wait': cell.data.status == 'Wait Film' || cell.data.status == 'Wait Sample',
                                             'ready': cell.data.status == 'Film Ready' || cell.data.status == 'Sample Ready', 
                                             'complete': cell.data.status == 'Complete',
                                             'cancel': cell.data.status == 'Cancel' }">{{
                                            cell.data.status }}</label>
                                    </div>
                                </dxi-column>


                                <dxi-column width="40" alignment="center" cellTemplate="toolsTemplate">
                                    <div *dxTemplate="let cell of 'toolsTemplate'">
                                        <i *ngIf="cell.data.status.includes('Wait')"
                                            class="fa-solid fa-circle-xmark click" (click)="onClickCancel(cell)"
                                            style="color: red;"></i>
                                        <i *ngIf="cell.data.status.includes('Ready')"
                                            class="fa-solid fa-rotate-left icon-delete click" (click)="onClickUndo(cell)"
                                            style="color: red;"></i>
                                        
                                    </div>
                                </dxi-column>

                                <div *dxTemplate="let cell of 'numberTemplate'">
                                    {{cell.value | number: '.2'}}
                                </div>

                            </dx-data-grid>

                            <div class="row mt-2">
                                <div class="col text-end">
                                    <i class="fa-solid fa-circle-xmark" style="color: red;"></i> <label
                                        class="ms-2 legend">Cancel</label>
                                    <i class="fa-solid fa-rotate-left icon-delete ms-2"></i>
                                    <label class="ms-2 legend">
                                        Undo Status
                                    </label>
                                    <i class="fa-solid fa-circle-info ms-2 click icon-info"
                                        (click)="onClickViewInformation()">
                                    </i>
                                    <label class="ms-2 legend">
                                        Status Details
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #information>
    <div class="modal-header">
        <h5 class="modal-title">Status Information</h5>
        <span style="cursor: pointer;" class="close-modal" name="close-modal-import"
            (click)="modalRef.hide()">&times;</span>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col">
                <dx-data-grid id="gridContainer" [dataSource]="info" [remoteOperations]="false"
                    [allowColumnReordering]="true" [rowAlternationEnabled]="false" [showBorders]="true" [width]="'100%'"
                    [showColumnLines]="true" [showRowLines]="true">

                    <dxi-column dataField="status" caption="Status" dataType="number" [width]="130" alignment="center"
                        cellTemplate="statusTemplate"></dxi-column>
                    <dxi-column dataField="explanation" caption="Explanation" dataType="string" [width]="120"
                        alignment="left"></dxi-column>

                    <div *dxTemplate="let cell of 'statusTemplate'">
                        <label [ngClass]="{'wait': cell.data.status == 'Wait Film' || cell.data.status == 'Wait Sample' ,
                        'ready' : cell.data.status == 'Film Ready' || cell.data.status == 'Sample Ready' ,
                        'cancel' : cell.data.status == 'Cancel' , 'complete' : cell.data.status == 'Complete'}">
                            {{ cell.data.status }}
                        </label>
                    </div>

                </dx-data-grid>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #actionTemplate>
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="isCancel">Cancel</h5>
        <span style="cursor: pointer;font-size: x-large;" class="close-modal " name="close-modal-import"
            (click)="modalRef.hide()">&times;</span>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-2 text-end">
                <label for="remark-cancel">Remark : </label>
            </div>
            <div class="col-8">
                <textarea type="text" id="remark-cancel" class="form-control" rows="4"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col text-center mt-4">
                <button class="btn btn-danger" (click)="onClickConfirmCancel()">
                    <i class="fa-solid fa-circle-xmark"></i> Cancel
                </button>
                <button class="btn btn-secondary ms-2" (click)="modalRef.hide()">
                    <i class="fa-solid fa-ban"></i> Exit
                </button>
            </div>
        </div>
    </div>
</ng-template>