.col-3 {
    margin-right: -0.8rem;
}

.complete {
    font-size: 12px;
    text-shadow: 0 0 0.1em rgb(60, 255, 157);
    color: rgb(39, 203, 91);
    background-color: rgba(149, 255, 188, 0.4);
    min-width: 100px;
    padding: 2px;
    border-radius: 5px;
}