<div class="d-flex flex-wrap flex-sm-nowrap">
  <date-picker class="mb-2" [name]="'picker-start-'+name" [value]="startDate" (onUpdate)="onStartDateChanged($event)"
    [disabled]="disabledStart"></date-picker>
  <div class="period">
    <span class="label-bold">-</span>
  </div>
  <date-picker class="mb-2" [name]="'picker-end-'+name" [value]="endDate" [min]="minEndDate"
    (onUpdate)="onEndDateChanged($event)" [disabled]="disabledEnd">
  </date-picker>
</div>
<div class="d-flex flex-wrap flex-sm-nowrap" style="margin-top: 8.5px;" *ngIf="showCompare && isCompare">
  <div class="width-approve-date-range approve ">
    <span>{{(preStartDate | date:'dd-MMM-yyyy') || '-'}}</span>
  </div>
  <div>
    <span class="width-approve-label-date-range label-bold">-</span>
  </div>
  <div class="width-approve-date-range approve">
    <span>{{(preEndDate | date:'dd-MMM-yyyy') || '-'}}</span>
  </div>
</div>