/* You can add global styles to this file, and also import other style files */
.action {
    cursor: pointer;
    color: #1fadff;
}

.action:hover {
    color: #0055ff;
}

.dx-datagrid-action.dx-cell-focus-disabled {
    text-align: center !important;
    vertical-align: middle !important;
}

.dx-datagrid-headers .dx-datagrid-table{
    background-color: #3C3C8C;
    color: #ffffff;
}

.click{
    cursor: pointer;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td{
    vertical-align: middle !important;
}
.icon-edit {
    color: orange;
}

.icon-delete {
    color: red;
}
