ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #292992;
    text-shadow: 0 0 0.1em #dbdbe6;
}

.nav-font {
    font-size: 0.65rem;
}

.btn-logout {
    background-color: #184c6d;
    color: white;
    border-radius: 5px;
    min-width: 50px;
    min-height: 30px;
    border-color: white;
}