<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm p-2 mb-2 bg-white rounded">
                <div class="card-header">
                    <h6>ประวัติการสั่งซื้อ</h6>
                </div>
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-2 text-end pt-2">
                            <label class="form-label" for="materialdesc">Material Description</label>
                        </div>
                        <div class="col-3">
                            <input [(ngModel)]="param.materialDesc" id="materialdesc" class="form-control" type="text">
                        </div>
                        <div class="col-2 text-end pt-2">
                            <label class="form-label">Date</label>
                        </div>
                        <div class="col-3">
                            <dx-select-box displayExpr="text" valueExpr="value" [items]="dateDataSource"
                                [(ngModel)]="param.dateDo" class="mb-2"></dx-select-box>
                            <date-range *ngIf="param.dateDo == 0" [start-date]="param.dateFrom"
                                [end-date]="param.dateTo" (onUpdate)="onDateRangeChanged($event)">
                            </date-range>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-3 offset-2">
                            <button class="btn btn-sm btn-success"><i
                                    class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
                            <button class="btn btn-sm btn-secondary ms-2" (click)="onClickClear()"><i
                                    class="fa-solid fa-broom me-1"></i>Clear</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col-12">
                            <dx-data-grid id="gridContainer" [dataSource]="dataSource" [remoteOperations]="false"
                                [allowColumnReordering]="true" [rowAlternationEnabled]="false" [showBorders]="true"
                                [width]="'100%'" [showColumnLines]="true" [showRowLines]="true">

                                <dxi-column dataField="poNo" caption="PO No." dataType="string" [width]="120"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="soNo" caption="Sale Order No." dataType="string" [width]="120"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="doNo" caption="Delivery Order No." dataType="string"
                                    [width]="120" alignment="center"></dxi-column>
                                <dxi-column dataField="date" caption="Date" dataType="date" [width]="100"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="itemNo" caption="Item No." dataType="number" [width]="70"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="materialDesc" caption="Material Description" dataType="string"
                                    [minWidth]="150" alignment="left"></dxi-column>
                                <dxi-column dataField="qty" caption="Quantity" dataType="number" [width]="80" cellTemplate="numberTemplate"
                                    alignment="right"></dxi-column>

                                <dxi-column width="130" alignment="center" cellTemplate="downloadTemplate">
                                    <div *dxTemplate="let cell of 'downloadTemplate'">
                                        <button class="btn btn-sm btn-outline-info rounded-pill mx-2"
                                            (click)="onClickDownload()">
                                            <i class="fa-solid fa-download"></i> Download
                                        </button>
                                    </div>
                                </dxi-column>

                                <div *dxTemplate="let cell of 'numberTemplate'">
                                    {{cell.value | number: '.2'}}
                                </div>

                            </dx-data-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>